/* Start adding your styling below! */ 
body {
background-color: lightblue;

}

p {
    color: green;
}

h1 {
    font-size: 36px;
}

.center-align {
    text-align: center;
}

#cool-text {
    color: blue;
}

#purple-text {
    color: purple;
}

